<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Bill {{model.bill.creationDate}} - {{model.bill.dueDate}} 
                {{#modal-trigger modalId="deleteBillModal" link=true tagName=""}} 
                    <span class="fa fa-trash text-danger"></span>
                {{/modal-trigger}}

                {{modal-trigger modalId="billLineModal" btn="btn-primary" img="fa-plus" text="New Bill Line" class="pull-right" onTrigger="setupNewBillLine"}}
            </h4>

            {{#if model.bill.vendorName}}
            	<p class="category">{{model.bill.vendorName}}</p>
            {{/if}}
            
            {{#if model.bill.payeeName}}
            	<p class="category">{{model.bill.payeeName}}</p>
            {{/if}}

            {{#if model.bill.payeeEmail}}
            	<p class="category">{{model.bill.payeeEmail}}</p>
			{{/if}}

            {{#if model.bill.payeePhone}}
            	<p class="category">{{model.bill.payeePhone}}</p>
            {{/if}}
        </div>
        <div class="content">
            <div class="table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>Item</th>
                        <th>Account Number</th>
                        <th>Account Name</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        {{#each model.bill.lines as |billline index|}}
    						<tr>
    						    <td>{{billline.itemName}}</td>
    							<td>{{billline.accountNum}}</td>
    							<td>{{billline.accountName}}</td>
    							<td>{{billline.amount}}</td>
    						</tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{bill-line-modal line=line bill=model.bill accounts=model.accounts}}

{{confirm-delete-modal model=model.bill type="Bill" onDelete="onDelete"}}