{{#modal-comp modalId="billModal" title=(if bill.isNew "New Bill" "Save Bill")
				btnClass="btn-primary" btnText=(if bill.isNew "New Bill" "Save Bill")
				backAction="backAction" successAction="successAction"}}
	
  {{modal-error-comp model=bill}}

  <div class="form-group">
    <label for="exampleTextarea">Vendor</label>
    <select class="form-control" onchange={{action "setVendor" value="target.value"}}>
	    {{#each vendors as |vendor index|}}
	    	<option value={{index}} selected={{eq bill.vendorName vendor.vendorName}}>{{vendor.vendorName}}</option>
	    {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Due Date</label>
    {{#if bill}}
      {{input-date value=bill.dueDate}}
    {{/if}}
  </div>

{{/modal-comp}}